.bg-banner{
    background-image: url(../../assets/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .bg-banner {
  background-image: url("https://food.almahmud.top/header_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

